{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'login/css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'login/css/alertas.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="particles-js"></div>
        <form action="/signin/" method="post" class="">
            <div class="logo">
                <img src="{% static 'login/img/logo18.jpg' %}">
            </div>
            <h1 class="title">Iniciar Sesion</h1>
            {% csrf_token %}
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert {% if message.tags %} {{ message.tags }}{% endif %}">
                                <strong>{{ message }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <label>
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="Usuario" id="floatingInput" name="username">
            </label>
            <label>
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Contraseña" id="floatingPassword" name="password">
            </label>
            <button id="button"  type="submit">
                Login
            </button><br>
            <h5 style="color: white;">Terminos y condiciones <a href="{% url 'terminos' %}">aqui.</a></h5>
            
        </form>
        <div class="span">
            <a href="" id="showModal" class="span2">
                <i class="bi bi-question-circle"></i>
            </a>
        </div>
            <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img class="modal-img" src="{% static 'login/img/error4.svg' %}">
                <h2>¿Necesitas ayuda?</h2>
                <p>Comunícate con soporte técnico: </p>
                <p>Tel: 3141010101</p>
            </div>
        </div>
        <div class="span">
            <a href="" id="Modal" class="span2">
            </a>
        </div>
        <div id="mModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img class="modal-img" src="{% static 'login/img/error4.svg' %}">
                <h1>Aviso de Privasidad</h1>
                <h4>stockmaster 
 
                    1. Aviso de protección de datos 
                    
                    En StockMaster, estamos orgullosos de nuestro compromiso  de proteger la privacidad de su información personal y  de cumplir estrictamente con todas las leyes y regulaciones  de privacidad y protección de datos aplicables. El propósito de este aviso es brindar información completa y detallada sobre cómo recopilamos, usamos, divulgamos y protegemos su información personal cuando interactúa con nuestra empresa. 
                     2. Datos personales 
                    
                    2.1. Recopilación de datos personales 
                    
                    StockMaster recopila una variedad de información personal de nuestros clientes, proveedores, empleados y usuarios de nuestros servicios para administrar de manera efectiva 
                    nuestro inventario electrónico y brindarles la mejor experiencia posible. Los datos personales recopilados pueden incluir, entre otros: 
                    
                    Información de contacto: nombre, dirección, número de teléfono, dirección de correo electrónico, información de entrega y facturación.  
                    Datos personales: número de seguro social, pasaporte, fecha de nacimiento, sexo, nacionalidad y, para empleados, información laboral. 
                    Información financiera: información de pagos, tarjetas de crédito, historial de compras y transacciones financieras.  Preferencias de productos y servicios: Información sobre sus preferencias y hábitos de compra.  Información de  cuenta: Detalles de inicio de sesión y detalles de inicio de sesión  para acceder a nuestro sitio web y aplicaciones.  Datos de ubicación: datos de ubicación geográfica cuando utiliza nuestra aplicación móvil o sitio web.  Historial de comunicación: datos sobre nuestras interacciones con usted, incluidos correos electrónicos, chats y llamadas telefónicas.  2.2. Uso de datos personales 
                    
                    Usamos su información personal para una variedad de propósitos, que incluyen, entre otros: Procese pedidos, administre inventario y envíe productos de manera eficiente. 
                    Cree y administre cuentas de clientes y proveedores para garantizar una experiencia de compra o colaboración fluida. 
                     Comunicarnos efectivamente con usted  para confirmar pedidos, enviar facturas y brindar información relevante sobre sus transacciones.  
                     Brindar atención al cliente, resolver problemas y responder a las preguntas y solicitudes de los clientes de manera oportuna. 
                     Personalice su experiencia en nuestro sitio web y aplicaciones ofreciéndole productos y servicios que coincidan con sus preferencias. 
                     Realizar análisis de mercado, investigaciones y estadísticas internas para mejorar sus productos y servicios y  adaptar su selección a las necesidades cambiantes 
                     de sus clientes.  
                     Cumplir con nuestras obligaciones legales  como  facturación,  contabilidad y  cumplimiento de contratos. Gestiona la nómina y los recursos de RRHH. 23. 
                     Privacidad y seguridad 
                    
                    StockMaster se toma en serio la privacidad y seguridad de su información personal. Implementamos estrictas medidas de seguridad técnicas, físicas y organizativas 
                    para proteger su información contra  acceso no autorizado,  divulgación o  uso indebido. Estas medidas incluyen, entre otras: 
                    
                    Cifre datos confidenciales en tránsito y en reposo.  Restricciones de acceso a  datos personales a empleados autorizados y formados en privacidad y protección de datos.
                    Información de seguridad periódica para evaluar y mejorar la eficacia de nuestras medidas de seguridad.  Formación continua y sensibilización de los empleados sobre la 
                    importancia de la privacidad y la protección de datos.  

                    3. Derechos de autor 
                    Todos los derechos de autor y derechos de propiedad intelectual relacionados con los servicios, productos y contenidos de StockMaster son propiedad de la Compañía. No se permite el uso, 
                    reproducción o  distribución no autorizados de nuestros materiales sin el consentimiento expreso de StockMaster. 

                    4. Derechos del registrante 
                    Como propietario de datos personales, usted tiene derechos que StockMaster respeta y protege, entre ellos: 
                    Acceso a sus datos personales: Puede solicitar una copia de los datos que tenemos sobre usted. Corrección de información inexacta o incompleta: puede solicitarnos que corrijamos información 
                    incorrecta o incompleta. Revocación o supresión de tus datos: En algunas circunstancias, podrás solicitar la supresión de tus datos.  Oposición al tratamiento de datos: En algunos casos, 
                    podrás oponerte al tratamiento de tus datos para determinadas finalidades. Si desea ejercer sus derechos, actualizar su configuración o si tiene alguna pregunta o inquietud sobre la 
                    privacidad o el manejo de sus datos personales, comuníquese con nuestro servicio de atención al cliente.  

                    5. Cambios al Aviso de Privacidad 
                    La política de protección de datos entra en vigor el 11.08.2023 y puede actualizarse periódicamente para reflejar los cambios en nuestras políticas de protección de datos y  en la 
                    legislación de protección de datos. Le recomendamos que consulte este aviso periódicamente para estar al tanto de cualquier cambio. 
                    
                    Gracias por confiar en StockMaster. En StockMaster, estamos comprometidos a proteger su privacidad y  garantizar la seguridad de su información personal.
                <p></p>
            </div>
        </div>
        <script src="{% static 'login/js/particles.min.js' %}"></script>
        <script src="{% static 'login/js/app.js' %}"></script>
        <script src="{% static 'login/js/modal.js' %}"></script>
        <script src="{% static 'login/js/alertas.js' %}"></script>
    </body>
    </html>
{% endblock %}

