
{% extends "./base.html" %}
{% block body %}
{% load static %}
<div class="ctn">
    <main>
        
        <h1>Cambio de Contraseña</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}">Contraseña actual:</label>
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label>
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                    <div class="alert alert-custom" role="alert">
                        <strong>{{ error }}</strong>
                        <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirmar nueva contraseña:</label>
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit">Cambiar contraseña</button>
        </form>
    </main>
    <div class="right" >
        <div class="top">
            <div class="tema">
                <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
                </button>
                <button id="themeToggleBtn" >
                    <i id="sunIcon" class="fas fa-sun"></i>
                    <i id="moonIcon" class="fas fa-moon"></i>
                </button>
            </div>
            <div class="profile">
                {% if request.user.is_authenticated %}
                    <div class="info">
                        <p>Hola, <b>{{ user.username}}</b> </p>
                        <p style="text-align: center;">
                            BIENVENIDO
                        </p>
                    </div>
                    <div class="profile-photo">
                        {% if request.user.is_superuser %}
                            <i class="fa-solid fa-user-tie"></i>
                            <small class="text-muted">Admin</small>
                        {% else %}
                            <i class="fa-solid fa-user"></i>
                            <small class="text-muted">Empleado</small>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="recent-updates">
            <h2>Mensajes Recientes</h2>
            <div class="updates">
                {% if request.user.is_superuser %}
                    {% if Mensajes %}
                        {% if respuestascomentarios %}
                            <p>respuestas comentarios </p>
                        {% else %}
                            {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                                {% if me.respuestascomentarios%}
                                    <div class="message">
                                        <div class="icon" style="color: green">
                                            <span class="material-symbols-outlined">forward</span>
                                        </div>
                                            <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted" style="font-size: 11px;">Mensaje contestado</small>
                                    </div>
                                {% else %}
                                    <div class="message">
                                        <div class="icon" style="color: red">
                                            <span class="material-symbols-outlined">mark_email_unread</span>
                                        </div>
                                        <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <p>No hay mensajes disponibles en este momento.</p>
                    {% endif %}
                {% else %}
                    {% if Mensajes %}
                        {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                            {% if me.respuestascomentarios %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <b>Comentario:</b>
                                        <p>{{me.comentario}}</p>
                                        <b>Respuesta del Admin: </b>
                                        <p> {{ me.respuestascomentarios }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div> 
                                {% endif %}
                            {% else %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <b>Comentario:</b>
                                        <p>{{me.comentario}}</p>
                                        <b>Respuesta del Admin: </b>
                                        <br>
                                        <small class="text-muted">Sin respuesta</small>
                                    </div> 
                                {% endif %}
                            {% endif%}
                        {% endfor%}
                    {% else %}
                        <p>No tienes ningun comentario por el momento</p>
                    {% endif %}
                {% endif %}
                
            </div>
            <div class="add-products">
                <div>
                    <span class="material-symbols-outlined">add</span> 
                    <a href="{% url 'soporte' %}">Mostrar Todas</a>
                </div>
            </div>

            
            <script>
                // Obtén todos los elementos con la clase "close-btn"
                var closeBtns = document.querySelectorAll('.close-btnn');

                // Agrega un evento de clic a cada elemento
                closeBtns.forEach(function (closeBtn) {
                    closeBtn.addEventListener('click', function () {
                        // Oculta el elemento al hacer clic
                        closeBtn.style.display = 'none';
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}