{% extends "./base.html" %}
{% block body %}
{% load static %}

<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% if request.user.is_superuser %}
                        <i class="fa-solid fa-user-tie"></i>
                        <small class="text-muted">Admin</small>
                    {% else %}
                        <i class="fa-solid fa-user"></i>
                        <small class="text-muted">Empleado</small>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>  
</div>
    <main>
        <h1>Configuraciones</h1>
        <div class="recent-orders">
            
            <div class="principal">
                <div>
                    <h2 class="agregar">Categorias</h2>
                </div>
                <div class="search-bar">
                    <input type="text" id="search-input" placeholder="Buscar productos..." oninput="convertToUppercase()">
                    <i class="fas fa-search" id="search-icon"></i>
                </div>
            </div>
            <br>
            <div class="messages-container">
                {% for message in messages %}
                    <div class="alert alert-custom" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                {% endfor %}
            </div>
            <div > <!-- Ajusta max-height según tus necesidades -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Categorias</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in Categoria %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ c.nombre }}</td>
                                <td class="edita"><a href="{% url 'edicionicat' categoria_id=c.categoria_id %}" class="btn btn-info" style="color: white;">Editar</a></td>
                                <td class="elimina"><a href="{% url 'eliminarcategoria' categoria_id=c.categoria_id %}" style="color: white;" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script>
        // Función para eliminar el mensaje al hacer clic en el botón de cerrar
        function dismissMessage(button) {
            const messageContainer = button.closest('.alert');
            if (messageContainer) {
                messageContainer.remove();
            }
        }   
    </script>

<script src="{% static 'login/js/busqueda.js' %}"></script>

{% endblock %}