<!DOCTYPE html>
<html>
<head>
    <title>Edición de Producto</title>
</head>
<body>
    <h2>Editar Producto</h2>
    <p>Código: {{ productos.codigo }}</p>
    <p>Nombre: {{ productos.nombre }}</p>
    <p>Precio: {{ productos.precio }}</p>
    <!-- Otros campos de producto aquí -->
    <p>Imagen:</p>
    <img src="{{ imagen_url }}" alt="Imagen de Producto">
    <p>Categoría: {{ productos.id_categorias }}</p>
    <p>Proveedor: {{ productos.id_Proveedores }}</p>
    <!-- Otros detalles del producto aquí -->
</body>
</html>