{% extends "./base.html" %}
{% block body %}
{% load static %}

<div class="ctn">
    <main>
        <h1>Usuarios</h1>
        <div class="recent-orders">
            
            <div class="principal">
                <div class="boton-modal">
                    <label for="btn-modal">
                        <i class="fa-solid fa-plus"></i>    Agregar Usuario
                    </label>
                </div>
                <div class="search-bar">
                    <input type="text" id="search-input" placeholder="Buscar usuarios..." oninput="convertToUppercase()">
                    <i class="fas fa-search" id="search-icon"></i>
                </div>
                {% csrf_token %}
                {% if messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger"><p>{{ message.tags }}:</p> {{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endif %}
            </div>
            <div style="overflow:auto; height: 400px;">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Gmail</th>
                            <th>Imagen</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                {% for us in usuario %}
                                    {% if us != request.user%}
                                        <tr>
                                            <td>{{ us.id.first_name }}</td>
                                            <td>{{ us.id.last_name }}</td>
                                            <td>{{ us.id.email }}</td>
                                            <td class="imagen" style="position: relative;">
                                                <div class="img-container" style="width: 150px; height: 200px; overflow: hidden;">
                                                    <img src="{{ us.imagen_url }}"  width="150" height="150" style="transition: transform 0.3s; position: absolute; top: 0; left: 0;">
                                                </div>
                                            </td>
                                            <td>{% if us.id.is_superuser %} Administrador{% else %} Empleado {% endif %}</td>
                                            <td class="elimina"><a class="btn btn-danger btnEliminacion" href="eliminaruser/{{us.id.id}}">
                                                <span class="material-symbols-outlined">delete</span>
                                            </a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--Ventana Modal-->
        <!-- <div>
            <input type="checkbox" id="btn-modal">
            <div class="container-modal">
                <div class="content-modal_user">
                    <label class="cerrar" for="btn-modal"><i class="fa-solid fa-xmark"></i></label>
                    <form action="/signup/" method="POST" enctype="multipart/form-data" id="registrationForm">
                        {% csrf_token %}
                            {% if messages %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger"><p>{{ message.tags }}:</p> {{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            {% endif %}
                        <!--Inicio de la tabla de columnas--
                        
                        <div class="form-columns_user">                    
                            <div class="tab" style="justify-content: center;">
                                <!--Primer columna--> <!-- style="display: flex; position: absolute; left: 41%;" --
                                <h2 class="titulo-modal_user" style="margin-left: 50px;">Registro de Nuevo Usuario</h2>
                                <div class="form-column_user" style="padding: 0 8rem 0 3rem">
                                    <div class="divisor">
                                        <div class="titulo">Nombre(s):</div>
                                        <input type="text" id="first_name" name="first_name" placeholder="Enter your name" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Apellido(s):</div>
                                        <input type="text" id="last_name" name="last_name" placeholder="Enter your last_name" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Correo:</div>
                                        <input type="email" id="email" name="email" placeholder="Enter your email" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Nombre de Usuario:</div>
                                        <input type="text" id="username" name="username" placeholder="Enter your username" class="campos" required>
                                    </div>
                                </div>
                                <!--Termino de primer columna--
                                
                                <!--Segunda columna--
                                <div class="form-column_user" style="margin-top: 3rem;">
                                    <div class="divisor">
                                        <div class="titulo">Contraseña:</div>
                                        <input type="password" id="id_password1" name="password1" placeholder="Enter your password" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Confirmar Contraseña:</div>
                                        <input type="password" id="id_password2" name="password2" placeholder="confirm your password" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Rol:</div>
                                        <select name="is_superuser" id="is_superuser" class="campos-seleccion" required>
                                            <option value="" disabled selected>Selecciona un rol</option>
                                            <option value="1">Administrador</option>
                                            <option value="0">Empleado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <!--Termino de segunda columna--
                            <div class="tab" style="justify-content: center;">  <!-- style="display: flex; position: absolute; left: 43%;" --
                                <h2 class="titulo-modal_user" style="/* margin-left: 50px; */">Datos adicionales</h2>
                                <!--Tercera columna--
                                <div class="form-column_user">
                                    <div class="divisor">
                                        <div class="titulo">Calle:</div>
                                        <input type="text" id="calle" name="calle" placeholder="Calle" 
                                        class="campos" oninput="convertToUppercase()" pattern="[A-Za-z0-9]{255}" maxlength="255" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Colonia:</div>
                                        <input type="text" id="colonia" name="colonia" placeholder="Colonia" 
                                        class="campos" oninput="convertToUppercase()" pattern="[A-Za-z0-9]{255}" maxlength="255" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Num_Exterior:</div>
                                        <input type="number" id="num_ext" name="num_ext" placeholder="Numero Exterior" 
                                        maxlength="4" class="campos" required>
                                    </div>
                                    <!-- <div class="divisor">
                                        <div class="titulo">Num_Interior:</div>
                                        <input type="number" id="num_int" name="num_int" placeholder="Opcional" 
                                        maxlength="4" class="campos" required>
                                    </div> --
                                    <div class="divisor">
                                        <div class="titulo">Codigo Postal:</div>
                                        <input type="number" id="cp" name="cp" placeholder="Codigo Postal" 
                                        class="campos" maxlength="5" required>
                                    </div>
                                </div>
                                <!--Termino de Tercera columna--
                            
                                <!--Cuarta columna--
                                <div class="form-column_user">
                                    <div class="divisor">
                                        <div class="titulo">Municipio:</div>
                                        <input type="text" id="col_mun" name="col_mun" placeholder="Municipio" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Pais:</div>
                                        <input type="text" id="pais" name="pais" placeholder="Pais" class="campos" 
                                        oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Numero Telefonico:</div>
                                        <input type="number" id="num_tel" name="num_tel" placeholder="Numero Telefonico" class="campos"
                                        maxlength="9"required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Numero Celular:</div>
                                        <input type="text" id="mun_cel" name="mun_cel" placeholder="Numero Celular" class="campos" 
                                        maxlength="10" required>
                                    </div>
                                </div>
                                <!--Termino de Cuarta Columna columna-->
                                <!--Quinta columna--
                                <div class="form-column_user">
                                    <div class="divisor">
                                        <div class="titulo">Curp:</div>
                                        <input type="text" id="curp" name="curp" placeholder="CURP" pattern="[A-Za-z0-9]{18}" 
                                        maxlength="18" class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Tipo de Sangre</div>
                                        <input type="text" id="t_sangre" name="t_sangre" placeholder="Tipo de Sangre" 
                                        class="campos" oninput="convertToUppercase()" pattern="[A-Za-z0-9]{3}" maxlength="3" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">RFC:</div>
                                        <input type="text" id="rfc" name="rfc" placeholder="RFC" class="campos" pattern="[A-Za-z0-9]{13}" 
                                        maxlength="13" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">No. de Seguro Social:</div>
                                        <input type="number" id="n_seg_social" name="n_seg_social" placeholder="NSS" class="campos" 
                                        maxlength="11" required>
                                    </div>
                                </div>
                            </div>
                            <div class="tab" style="padding: 0 25%; justify-content: center;">
                                <h2 class="titulo-modal_user">Imagen:</h2>
                                <div class="form-column_user">
                                        <div class="divisor">
                                            <!-- <div class="contenedor-imagen"> --
                                                <img id="vistaPrevia" alt=""/>
                                            <!-- </div> --
                                                <input type="file" id="imagen" name="imagen" accept="image/*" placeholder="Imagen" 
                                                class="campos" onchange="previsualizarImagen()" required>     
                                        </div>
                                </div>
                                    <!--Termino de Quinta Columna columna--
                            </div>
                            <!-- Circles which indicates the steps of the form: -->       
                                <!-- ddd -->
                            <!--Fin de la tabla columnnas-->
                            <!--Fin datos--
                        </div>
                        <!-- <div class="btn-cerrar">
                            <button type="submit">Guardar</button>
                        </div> --
                        <div style="/* overflow:auto; */">
                            <div class="" style="float:right; justify-content:space-around;">
                                <button class="button-8" role="button" type="button" id="prevBtn" onclick="nextPrev(-1)">Atras</button>
                                <button class="button-8" role="button" type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
                                <!-- <button id="nextbtn" type="submit">Guardar</button> --
                                <!-- <label for="btn-modal">CANCELAR</label> --
                                
                            </div>
                        </div>
                        <div style="text-align:center;margin-top:65px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    
                        <script src="{% static 'js/modalusuarios.js'%}"></script>
                        <script>
                            // Obtén todos los elementos con la clase "close-btn"
                            var closeBtns = document.querySelectorAll('.close-btnn');

                            // Agrega un evento de clic a cada elemento
                            closeBtns.forEach(function (closeBtn) {
                                closeBtn.addEventListener('click', function () {
                                    // Oculta el elemento al hacer clic
                                    closeBtn.style.display = 'none';
                                });
                            });
                        </script>
                    </form>
                    <label for="btn-modal" class="cerrar-modal"></label>
                </div>
            </div>
        </div> -->
        <!--Fin de Ventana Modal-->




        <!--Ventana Modal 2-->
       <!--  <div>
            <input type="checkbox" id="btn-modal">
            <div class="container-modal">
                <div class="content-modal_user">
                    <label class="cerrar" for="btn-modal"><i class="fa-solid fa-xmark"></i></label>
                    <form action="/signup/" method="POST" enctype="multipart/form-data" id="registrationForm">
                        {% csrf_token %}
                            {% if messages %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger"><p>{{ message.tags }}:</p> {{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            {% endif %}
                        <!--Inicio de la tabla de columnas--
                        
                        <div class="form-columns_user2">                    
                            <div class="tab2" style="justify-content: center;">
                                <!--Primer columna--> <!-- style="display: flex; position: absolute; left: 41%;" --
                                <h2 class="titulo-modal_user2" style="margin-left: 50px;">Registro de Nuevo Usuario</h2>
                                <div class="form-column_user2" style="padding: 0 8rem 0 3rem">
                                    <div class="divisor">
                                        <div class="titulo">Nombre(s):</div>
                                        <input type="text" id="first_name" name="first_name" placeholder="Enter your name" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Apellido(s):</div>
                                        <input type="text" id="last_name" name="last_name" placeholder="Enter your last_name" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Correo:</div>
                                        <input type="email" id="email" name="email" placeholder="Enter your email" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Nombre de Usuario:</div>
                                        <input type="text" id="username" name="username" placeholder="Enter your username" class="campos" required>
                                    </div>
                                </div>
                                <!--Termino de primer columna-->
                                
                                <!--Segunda columna--
                                <div class="form-column_user2" style="margin-top: 3rem;">
                                    <div class="divisor2">
                                        <div class="titulo">Contraseña:</div>
                                        <input type="password" id="id_password1" name="password1" placeholder="Enter your password" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Confirmar Contraseña:</div>
                                        <input type="password" id="id_password2" name="password2" placeholder="confirm your password" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Rol:</div>
                                        <select name="is_superuser" id="is_superuser" class="campos-seleccion" required>
                                            <option value="" disabled selected>Selecciona un rol</option>
                                            <option value="1">Administrador</option>
                                            <option value="0">Empleado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <!--Termino de segunda columna--
                            <div class="tab2" style="justify-content: center;">  <!-- style="display: flex; position: absolute; left: 43%;" --
                                <h2 class="titulo-modal_user2" style="/* margin-left: 50px; */">Datos adicionales</h2>
                                <!--Tercera columna--
                                <div class="form-column_user2">
                                    <div class="divisor">
                                        <div class="titulo">Calle:</div>
                                        <input type="text" id="calle" name="calle" placeholder="Calle" 
                                        class="campos" oninput="convertToUppercase()" pattern="[A-Za-z0-9]{255}" maxlength="255" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Colonia:</div>
                                        <input type="text" id="colonia" name="colonia" placeholder="Colonia" 
                                        class="campos" oninput="convertToUppercase()" pattern="[A-Za-z0-9]{255}" maxlength="255" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Num_Exterior:</div>
                                        <input type="number" id="num_ext" name="num_ext" placeholder="Numero Exterior" 
                                        maxlength="4" class="campos" required>
                                    </div>
                                    <!-- <div class="divisor">
                                        <div class="titulo">Num_Interior:</div>
                                        <input type="number" id="num_int" name="num_int" placeholder="Opcional" 
                                        maxlength="4" class="campos" required>
                                    </div> --
                                    <div class="divisor">
                                        <div class="titulo">Codigo Postal:</div>
                                        <input type="number" id="cp" name="cp" placeholder="Codigo Postal" 
                                        class="campos" maxlength="5" required>
                                    </div>
                                </div>
                                <!--Termino de Tercera columna--
                            
                                <!--Cuarta columna--
                                <div class="form-column_user">
                                    <div class="divisor">
                                        <div class="titulo">Municipio:</div>
                                        <input type="text" id="col_mun" name="col_mun" placeholder="Municipio" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Pais:</div>
                                        <input type="text" id="pais" name="pais" placeholder="Pais" class="campos" 
                                        oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Numero Telefonico:</div>
                                        <input type="number" id="num_tel" name="num_tel" placeholder="Numero Telefonico" class="campos"
                                        maxlength="9"required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Numero Celular:</div>
                                        <input type="text" id="mun_cel" name="mun_cel" placeholder="Numero Celular" class="campos" 
                                        maxlength="10" required>
                                    </div>
                                </div>
                                <!--Termino de Cuarta Columna columna-->
                                <!--Quinta columna--
                                <div class="form-column_user2">
                                    <div class="divisor">
                                        <div class="titulo">Curp:</div>
                                        <input type="text" id="curp" name="curp" placeholder="CURP" pattern="[A-Za-z0-9]{18}" 
                                        maxlength="18" class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Tipo de Sangre</div>
                                        <input type="text" id="t_sangre" name="t_sangre" placeholder="Tipo de Sangre" 
                                        class="campos" oninput="convertToUppercase()" pattern="[A-Za-z0-9]{3}" maxlength="3" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">RFC:</div>
                                        <input type="text" id="rfc" name="rfc" placeholder="RFC" class="campos" pattern="[A-Za-z0-9]{13}" 
                                        maxlength="13" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">No. de Seguro Social:</div>
                                        <input type="number" id="n_seg_social" name="n_seg_social" placeholder="NSS" class="campos" 
                                        maxlength="11" required>
                                    </div>
                                </div>
                            </div>
                            <div class="tab2" style="padding: 0 25%; justify-content: center;">
                                <h2 class="titulo-modal_user2">Imagen:</h2>
                                <div class="form-column_user2">
                                        <div class="divisor">
                                            <!-- <div class="contenedor-imagen"> --
                                                <img id="vistaPrevia" alt=""/>
                                            <!-- </div> --
                                                <input type="file" id="imagen" name="imagen" accept="image/*" placeholder="Imagen" 
                                                class="campos" onchange="previsualizarImagen()" required>     
                                        </div>
                                </div>
                                    <!--Termino de Quinta Columna columna--
                            </div>
                            <!-- Circles which indicates the steps of the form: -->       
                                <!-- ddd -->
                            <!--Fin de la tabla columnnas-->
                            <!--Fin datos--
                        </div>
                        <!-- <div class="btn-cerrar">
                            <button type="submit">Guardar</button>
                        </div> --
                        <div style="/* overflow:auto; */">
                            <div class="" style="float:right; justify-content:space-around;">
                                <button class="button-8" role="button" type="button" id="prevBtn" onclick="nextPrev(-1)">Atras</button>
                                <button class="button-8" role="button" type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
                                <!-- <button id="nextbtn" type="submit">Guardar</button> -->
                                <!-- <label for="btn-modal">CANCELAR</label> --
                                
                            </div>
                        </div>
                        <div style="text-align:center;margin-top:65px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    
                        <script src="{% static 'js/modalusuarios.js'%}"></script>
                        <script>
                            // Obtén todos los elementos con la clase "close-btn"
                            var closeBtns = document.querySelectorAll('.close-btnn');

                            // Agrega un evento de clic a cada elemento
                            closeBtns.forEach(function (closeBtn) {
                                closeBtn.addEventListener('click', function () {
                                    // Oculta el elemento al hacer clic
                                    closeBtn.style.display = 'none';
                                });
                            });
                        </script>
                    </form>
                    <label for="btn-modal" class="cerrar-modal"></label>
                </div>
            </div>
        </div> -->
        <!--Fin de Ventana Modal 2-->
    </main>
    <div class="right" >
        <div class="top">
            <div class="tema">
                <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
                </button>
                <button id="themeToggleBtn" >
                    <i id="sunIcon" class="fas fa-sun"></i>
                    <i id="moonIcon" class="fas fa-moon"></i>
                </button>
            </div>
            <div class="profile">
                {% if request.user.is_authenticated %}
                    <div class="info">
                        <p>Hola, <b>{{ user.username}}</b> </p>
                        <p style="text-align: center;">
                            BIENVENIDO
                        </p>
                    </div>
                    <div class="profile-photo">
                        {% if request.user.is_superuser %}
                            <i class="fa-solid fa-user-tie"></i>
                            <small class="text-muted">Admin</small>
                        {% else %}
                            <i class="fa-solid fa-user"></i>
                            <small class="text-muted">Empleado</small>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="recent-updates">
            <h2>Mensajes Recientes</h2>
            <div class="updates">
                {% if request.user.is_superuser %}
                    {% if Mensajes %}
                        {% if respuestascomentarios %}
                            <p>respuestas comentarios </p>
                        {% else %}
                            {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                                {% if me.respuestascomentarios%}
                                    <div class="message">
                                        <div class="icon" style="color: green">
                                            <span class="material-symbols-outlined">forward</span>
                                        </div>
                                            <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted" style="font-size: 11px;">Mensaje contestado</small>
                                    </div>
                                {% else %}
                                    <div class="message">
                                        <div class="icon" style="color: red">
                                            <span class="material-symbols-outlined">mark_email_unread</span>
                                        </div>
                                        <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <p>No hay mensajes disponibles en este momento.</p>
                    {% endif %}
                {% else %}
                    {% if Mensajes %}
                        {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                            {% if me.respuestascomentarios %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <b>Comentario:</b>
                                        <p>{{me.comentario}}</p>
                                        <b>Respuesta del Admin: </b>
                                        <p> {{ me.respuestascomentarios }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div> 
                                {% endif %}
                            {% else %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <b>Comentario:</b>
                                        <p>{{me.comentario}}</p>
                                        <b>Respuesta del Admin: </b>
                                        <br>
                                        <small class="text-muted">Sin respuesta</small>
                                    </div> 
                                {% endif %}
                            {% endif%}
                        {% endfor%}
                    {% else %}
                        <p>No tienes ningun comentario por el momento</p>
                    {% endif %}
                {% endif %}
                
            </div>
            <div class="add-products">
                <div>
                    <span class="material-symbols-outlined">add</span> 
                    <a href="{% url 'soporte' %}">Mostrar Todas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Obtén todos los elementos con la clase "close-btn"
    var closeBtns = document.querySelectorAll('.close-btnn');

    // Agrega un evento de clic a cada elemento
    closeBtns.forEach(function (closeBtn) {
        closeBtn.addEventListener('click', function () {
            // Oculta el elemento al hacer clic
            closeBtn.style.display = 'none';
        });
    });
</script>
<script>
    function previsualizarImagen() {
        var cargador = document.getElementById('imagen');
        var vistaPrevia = document.getElementById('vistaPrevia');
        
        var archivo = cargador.files[0];
        if (archivo) {
            var lector = new FileReader();

            lector.onload = function(e) {
                vistaPrevia.src = e.target.result;
            }

            lector.readAsDataURL(archivo);
        }
    }
</script>

{% endblock %}