{% extends "./base.html" %}
{% block body %}
{% load static %}

<div class="ctn">
    <main>
        <h1>Usuarios</h1>
        <div class="recent-orders">
            
            <div class="principal">
                <div class="boton-modal">
                    <label for="btn-modal">
                        <i class="fa-solid fa-plus"></i>    Agregar Producto
                    </label>
                </div>
                <div class="search-bar">
                    <input type="text" id="search-input" placeholder="Buscar usuarios..." oninput="convertToUppercase()">
                    <i class="fas fa-search" id="search-icon"></i>
                </div>
            </div>
            <div style="overflow:auto; height: 400px;">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Gmail</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                {% for us in Usuarios %}
                                    {% if us != request.user%}
                                        <tr>
                                            <td>{{ us.first_name }}</td>
                                            <td>{{ us.last_name }}</td>
                                            <td>{{ us.email }}</td>
                                            <td>{% if us.is_superuser %} Administrador{% else %} Empleado {% endif %}</td>
                                            <td class="elimina"><a class="btn btn-danger btnEliminacion" href="eliminaruser/{{us.id}}">
                                                <span class="material-symbols-outlined">delete</span>
                                            </a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
            <!--Ventana Modal-->
            <div>
                <input type="checkbox" id="btn-modal">
                <div class="container-modal">
                    <div class="content-modal">
                        <label class="cerrar" for="btn-modal"><i class="fa-solid fa-xmark"></i></label>
                        <h2 class="titulo-modal">Agregar Nuevo Usuario</h2>

                        <form action="/signup/" method="POST" enctype="multipart/form-data" id="registrationForm">{% csrf_token %}
                            {% csrf_token %}
                            {% if messages %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger"><p>{{ message.tags }}:</p> {{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            {% endif %}
                            <!--Inicio de la tabla de columnas-->
                            <div class="form-columns">
                                <!--Primer columna-->
                                <div class="form-column">
                                    <div class="divisor">
                                        <div class="titulo">Nombre(s):</div>
                                        <input type="text" id="first_name" name="first_name" placeholder="Enter your name" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Apellido(s):</div>
                                        <input type="text" id="last_name" name="last_name" placeholder="Enter your last_name" 
                                        class="campos" oninput="convertToUppercase()" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Correo:</div>
                                        <input type="email" id="email" name="email" placeholder="Enter your email" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Nombre de Usuario:</div>
                                        <input type="text" id="username" name="username" placeholder="Enter your username" class="campos" required>
                                    </div>
                                </div>
                                <!--Termino de primer columna-->

                                <!--Segunda columna-->
                                <div class="form-column">
                                    <div class="divisor">
                                        <div class="titulo">Contraseña:</div>
                                        <input type="password" id="id_password1" name="password1" placeholder="Enter your password" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Confirmar Contraseña:</div>
                                        <input type="password" id="id_password2" name="password2" placeholder="confirm your password" class="campos" required>
                                    </div>
                                    <div class="divisor">
                                        <div class="titulo">Rol:</div>
                                        <select name="is_superuser" id="is_superuser" class="campos-seleccion" required>
                                            <option value="" disabled selected>Selecciona un rol</option>
                                            <option value="1">Administrador</option>
                                            <option value="0">Empleado</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Termino de segunda columna-->
                            </div>
                            <!--Fin de la tabla columnnas-->
                                <div class="btn-cerrar">
                                    <button type="submit">Guardar</button>
                                    <label for="btn-modal">Cancelar</label>
                                </div>
                            <!--Fin datos-->
                        </form>
                        <script>
                            // Obtén todos los elementos con la clase "close-btn"
                            var closeBtns = document.querySelectorAll('.close-btnn');

                            // Agrega un evento de clic a cada elemento
                            closeBtns.forEach(function (closeBtn) {
                                closeBtn.addEventListener('click', function () {
                                    // Oculta el elemento al hacer clic
                                    closeBtn.style.display = 'none';
                                });
                            });
                        </script>
                    <label for="btn-modal" class="cerrar-modal"></label>
                    </div>
                </div>
            </div>
            <!--Fin de Ventana Modal-->
    </main>
    <div class="right" >
        <div class="top">
            <div class="tema">
                <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
                </button>
                <button id="themeToggleBtn" >
                    <i id="sunIcon" class="fas fa-sun"></i>
                    <i id="moonIcon" class="fas fa-moon"></i>
                </button>
            </div>
            <div class="profile">
                {% if request.user.is_authenticated %}
                    <div class="info">
                        <p>Hola, <b>{{ user.username}}</b> </p>
                        <p style="text-align: center;">
                            BIENVENIDO
                        </p>
                    </div>
                    <div class="profile-photo">
                        {% if request.user.is_superuser %}
                            <i class="fa-solid fa-user-tie"></i>
                            <small class="text-muted">Admin</small>
                        {% else %}
                            <i class="fa-solid fa-user"></i>
                            <small class="text-muted">Empleado</small>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="recent-updates">
            <h2>Mensajes Recientes</h2>
            <div class="updates">
                {% if request.user.is_superuser %}
                    {% if Mensajes %}
                        {% if respuestascomentarios %}
                            <p>respuestas comentarios </p>
                        {% else %}
                            {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                                {% if me.respuestascomentarios%}
                                    <div class="message">
                                        <div class="icon" style="color: green">
                                            <span class="material-symbols-outlined">forward</span>
                                        </div>
                                            <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted" style="font-size: 11px;">Mensaje contestado</small>
                                    </div>
                                {% else %}
                                    <div class="message">
                                        <div class="icon" style="color: red">
                                            <span class="material-symbols-outlined">mark_email_unread</span>
                                        </div>
                                        <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <p>No hay mensajes disponibles en este momento.</p>
                    {% endif %}
                {% else %}
                    {% if Mensajes %}
                        {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                            {% if me.respuestascomentarios %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <b>Comentario:</b>
                                        <p>{{me.comentario}}</p>
                                        <b>Respuesta del Admin: </b>
                                        <p> {{ me.respuestascomentarios }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div> 
                                {% endif %}
                            {% else %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <b>Comentario:</b>
                                        <p>{{me.comentario}}</p>
                                        <b>Respuesta del Admin: </b>
                                        <br>
                                        <small class="text-muted">Sin respuesta</small>
                                    </div> 
                                {% endif %}
                            {% endif%}
                        {% endfor%}
                    {% else %}
                        <p>No tienes ningun comentario por el momento</p>
                    {% endif %}
                {% endif %}
                
            </div>
            <div class="add-products">
                <div>
                    <span class="material-symbols-outlined">add</span> 
                    <a href="{% url 'soporte' %}">Mostrar Todas</a>
                </div>
            </div>

            
            <script>
                // Obtén todos los elementos con la clase "close-btn"
                var closeBtns = document.querySelectorAll('.close-btnn');

                // Agrega un evento de clic a cada elemento
                closeBtns.forEach(function (closeBtn) {
                    closeBtn.addEventListener('click', function () {
                        // Oculta el elemento al hacer clic
                        closeBtn.style.display = 'none';
                    });
                });
            </script>
        </div>
    </div>
</div>

{% endblock %}